.tutorials {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
}

.tutorials__links-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.tutorials__links-container button {
    background-color: var(--blue1);
    padding: 1rem 2rem;
    color: var(--white);
    font-size: 1rem;
    border: none;
    border-radius: .4rem;
    width: 80%;
    margin: .5rem auto;
}

.tutorials__links-container button:hover {
    cursor: pointer;
    background-color: var(--darkBlue2);
}

.tutorials__video-container {
    display: grid;
    place-items: center;
}

.tutorial-video {
    width: 90%;
}

.tutorial-video h2 {
    margin: 0 0 .2rem 0;
    font-size: 1.6rem;
}

.tutorial-video iframe {
    width: 100%;
    height: 35rem;
}

/* Media QUerys */

@media (max-width: 540px) {
    .tutorials {
        grid-template-columns:repeat(100% 100%);
    }

    .tutorials__links-container {
        overflow-x: scroll;
    }

    .tutorials__links-container button {
        width: fit-content;
        padding: 1rem;
        margin: 1rem .5rem;
    }
}