.nosotros-page {
    background: url("../../../assets/img/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.nosotros-container {
    margin: 0 auto;
    width: 90%;
    border-bottom: solid 2px var(--darkBlue1);
}

.nosotros-container:last-child {
    border-bottom: none;
}

.nosotros-page h2 {
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    font-size: 2rem;
}

.nosotros-page p {
    margin: 0;
    padding: 0 0 2rem 0;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.8;
}

/* Media Querys */

@media (max-width: 1280px) {
    .nosotros-page {
        height: 25rem;
    }
}

@media (max-width: 1024px) {
    .nosotros-page {
        height: 27rem;
    }
}

@media (max-width: 768px) {
    .nosotros-page {
        height: 34rem;
    }
}

@media (max-width: 540px) {
    .nosotros-page {
        height: 33rem;
    }

    .nosotros-page p {
        font-size: 1.3rem;
    }
}
@media (max-width: 480px) {
    .nosotros-page {
        height: 41rem;
    }
}

@media (max-width: 375px) {
    .nosotros-page {
        height: 45rem;
    }
}