.cta {
    background-color: var(--green1);
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: .4rem;
    margin: 0 auto;
    transition: all 200ms;
}

.cta a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 200ms;
}

.cta:hover {
    background-color: #64a538;
}

.cta a:hover {
    color: var(--white);
}

@media (max-width: 480px) {
    .cta a {
        font-size: 1rem;
    }
}