.faq {
    border-bottom: solid 1px var(--black);
}

.question p {
    background-color: var(--darkBlue2);
    color: var(--white);
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: .4rem;
}

.question p:hover {
    background-color: var(--blue1);
    cursor: pointer;
}

.question span {
    display: block;
    color: var(--black);
    font-size: 1.1rem;
    text-align: justify;
    padding: 0 2rem;
    border-radius: .4rem;
    line-height: 1.5;
}