.signatures {
    border-bottom: solid 1px var(--black);
    padding-bottom: 2rem;
}

.signatures-content h3 {
    font-size: 1.3rem;
    background-color: var(--darkBlue2);
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: .4rem;
    margin-left: 1rem;
    margin: 1rem auto;
    width: 80%;
}

.signatures-content h3:hover {
    cursor: pointer;
    background-color: var(--blue1);
}

.signatures-content h4 {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.signatures-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

.signatures-content ul {
    margin-bottom: 2rem;
}

.signatures-content li {
    font-size: 1rem;
    padding: .4rem 0;
}