.management-card {
    background-color: var(--white2);
    padding: 1rem;
    border: solid 2px var(--darkBlue1);
    border-radius: .4rem;
    box-shadow: 1px 2px 7px var(--black);
    margin: 2rem 0;
}

.management-card h3 {
    font-size: 1.2rem;
    border-bottom: solid 2px var(--darkBlue1);
    padding-bottom: .4rem;
    width: fit-content;
}

.management-car__content {
    padding: 0 1rem;
}

.management-car__content p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.management-car__content ol li {
    font-size: 1rem;
    font-weight: 700;
}

.management-car__content ul {
    margin: 1rem 0;
}