.ssl {
    border-bottom: solid 1px var(--black);
}

.ssl p {
    background-color: var(--darkBlue2);
    color: var(--white2);
    padding: 1rem;
    text-align: center;
    border-radius: .4rem;
    font-size: 1.2rem;
}

.ssl span{
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.ssl p:hover {
    background-color: var(--blue1);
    cursor: pointer;
}