.hero {
    background-image: url("../../../assets/img/hero.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 95rem;
}

.main {
    border-bottom: solid 1px var(--white);
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
}

.main h1 {
    margin: 0;
    color: var(--white);
    font-size: 2rem;
}

.main p {
    color: var(--white);
    font-size: 1.4rem;
    width: 45rem;
    line-height: 1.5;
    text-align: justify;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45rem;
}

.swiper-container {
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: .4rem;
    padding: 1rem;
}

.prices__container {
    margin: 0 auto;
    width: 90%;
}

.prices h2 {
    margin: 1rem;
    color: var(--white);
    font-size: 1.8rem;
}

.prices-content {
    margin: 0 auto;
    width: 90%;
}

.prices-content__card {
    background: linear-gradient(135deg, var(--white) 0%, var(--white2) 85%,  var(--darkBlue1) 100%);
    padding: 0 1rem;
    margin: 1rem auto;
    border-radius: .4rem;
    width: 95%;
    height: 34rem;
    box-shadow: 3px 3px 10px var(--black);
    border: solid 3px var(--darkBlue1);
}

.prices-content__card-img-container {
    display: flex;
    justify-content: center;
}

.prices-content__card-img-container img {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
}

.prices-content__card h3 {
    color: var(--gray);
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
    position: relative;
}

.prices-content__card h3::after {
    content: "";
    display: block;
    margin: .5rem auto;
    width: 17rem;
    height: .2rem;
    background-color: var(--darkBlue1);
}

.prices-content__card p {
    color: var(--black);
    font-size: 1.3rem;
    text-align: justify;
    padding: 2rem;
    line-height: 1.6;
    position: relative;
}

.prices-content__card ul {
    margin: 3rem 0;
}

.prices-content__card li {
    font-size: 1.3rem;
    color: var(--black);
    padding: .5rem 3rem 0 0;
}

.prices-content__card li span {
    color: green;
}

.prices-content__card-link {
    display: block;
    width: fit-content;
    background-color: var(--green1);
    padding: 1rem 2rem;
    border-radius: .4rem;
    color: var(--black);
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 200ms;
    margin: 0 auto;
}

.prices-content__card-link:hover {
    background-color: #64a538;
    color: var(--white);
}

.prices-message {
    width: 80%;
    margin: 1rem auto;
    background-color: var(--white);
    border-radius: .4rem;
    border: var(--darkBlue1) solid 3px;
}

.prices-message p {
    color: var(--black);
    font-size: 1.1rem;
    padding: .5rem 2rem;
    text-align: justify;
    line-height: 1.5;
}

/* Media Querys */

@media (max-width: 1024px) {
    .hero {
        height: 88rem;
    }
}


@media (max-width: 768px) {

    .hero {
        height: 95rem;
    }

    .prices {
        padding-top: 2rem;
    }

    .main p {
        width: 40rem;
    }

    .prices-content__card {
        height: 35rem;
    }

}

@media (max-width: 540px) {

    .hero {
        height: 105rem;
    }

    .main p {
        width: 30rem;
    }

    .prices {
        padding-top: 4rem;
    }

    .prices-content__card {
        width: 90%;
        height: 40rem;
    }

    .prices-message {
        margin-top: 4rem;
    }
}

@media (max-width: 480px) {
    .hero {
        height: 152rem
    }

    .main p {
        width: 20rem;
    }

    .prices {
        padding-top: 17rem;
    }

    .prices-content__card {
        width: 80%;
        height: 61rem;
    }

    .prices-content__card h3::after {
        width: 14rem;
    }

    .prices-message {
        margin-top: 16rem;
    }

}

@media (max-width: 375px) {

    .hero {
        height: 158rem;
    }

    .prices {
        padding-top: 19rem;
    }

    .prices-content__card {
        height: 66rem;
    }

    .prices-content__card h3::after {
        width: 11rem;
    }
}

@media (max-width: 280px) {

    .hero {
        height: 93rem;
    }

    .main p {
        width: 15rem;
    }

    .prices {
        padding-top: 13rem;
    }

    .prices-content__card {
        height: 50rem;
    }
}