.secundary-navbar {
    background-color: var(--darkBlue1);
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0 ;
    padding: 1rem 0;
}

.secundary-navbar img {
    width: 4rem;
    height: 4rem;
    padding: .5rem;
}

.secundary-navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    text-decoration: none;
}

.secundary-navbar p {
    color: var(--white);
    font-size: 1rem;
    margin: .5rem 0 0 0;
}

/* Media QUerys */

@media (max-width: 768px) {
    .secundary-navbar a {
        justify-content: flex-start;
    }
    .secundary-navbar p {
        text-align: center;
    }
}

@media (max-width: 540px) {
    .secundary-navbar {
        flex-wrap: wrap;
    }

    .secundary-navbar a {
        padding: 2rem 0;
    }
}

@media (max-width: 480px) {
    .secundary-navbar {
        flex-direction: column;
    }
}