.footer {
    background-color: var(--darkBlue1);
    padding: 2rem;
}

.footer-content {
    display: flex;
}

.footer-content__about {
    color: var(--white);
    width: 50%;
}

.footer-content__about h5 {
    font-size: 1.3rem;
}

.footer-content__about p {
    font-size: 1.1rem;
    text-align: justify;
}

.footer-content__us {
    color: var(--white);
    width: 25%;
    margin-left: 4rem;
}

.footer-content__us h5 {
    font-size: 1.3rem;
}

.footer-content__us-link {
    display: flex;
    flex-direction: column;
}

.footer-content__us-link a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    width: fit-content;
}

.footer-content__us-link a:hover {
    color: var(--green1);
}

.footer__RRSS {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.footer__RRSS img {
    width: 3rem;
    height: 3rem;
}

.footer__RRSS-content {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.footer__RRSS-content a{
    color: var(--white);
    font-size: 1rem;
    padding: 0 .6rem;
    text-decoration: none;
}

.footer-content p {
    color: var(--white);
    font-size: 1rem;
    padding: 0 .6rem;
}

.footer-copyright {
    text-align: center;
    color: var(--white);
    font-size: .8rem;
    margin-top: 3rem;
}

/* Media Querys */

@media (max-width: 768px) {
    .footer-content {
        flex-wrap: wrap;
    }

    .footer-content__about {
        width: 60%;
    }

    .footer-content__us {
        width: 30%;
    }

}

@media (max-width: 540px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-content__about, .footer-content__us, .footer__RRSS {
        width: 100%;
    }

    .footer-content__about h5 {
        text-align: center;
    }

    .footer-content__us {
        margin-left: 0;
        text-align: center;
        margin-bottom: 2rem;
    }

    .footer-content__us-link {
        align-items: center;
    }
    
}