/* Globals */

:root {
    --blue1: #00A3E6;
    --darkBlue1: #314C89;
    --darkBlue2: #263C9A;
    --white: #E4E7EF;
    --white2: #FFFFFF;
    --green1: #76D23A;
    --gray: #48565E;
    --black: #1b1a1a;
}

body {
    font-size: 62.5%;
    font-family: 'Open Sans', 'Lato', sans-serif;
}